{{>layouts/header }}
  
<!-- 내용 부분 table 모양 -->

 <table class = "table table-striped mx-auto" style="width:90%" >
  <thead>
    <tr class="table-dark">
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Content</th>
    </tr>
  </thead>
  
  <tbody>
    <!-- articleList 만큼 반복 수행한다 -->
   {{#articleList}}
    <tr>
      <th scope="row">{{ id }}</th>
      <td><a href="/article/{{ id }}">{{ title }}</a></td>
      <td>{{ content }}</td>
    </tr>
   {{/articleList}}
   
  </tbody>
</table>

<div class="mx-auto" style="width:90%">
<a href="/article/WriteForm" class="btn btn-primary">새 글 쓰기</a>
</div>
  
{{>layouts/footer }}















